{
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "jsx-quotes": "warn",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-one-expression-per-line":"none"
  }
}