html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.canvas-wrap {
    position: absolute;
    margin: 2.5% 2.5% 5% 5%;
    padding: 0;
    width: 90%;
    height: 90%;
    background: linear-gradient(to bottom, #25e5d4, #8c60ff, #d183b8, #e5c787);
    background-size: 500% 500%;
    animation: backGroundAnimation 20s ease infinite alternate;
}

canvas {
    position: absolute;
    left: calc(50% - 600px);
    top: calc(50% - 350px);
    width: 1200px;
    height: 700px;
    background: rgba(0,0,0,0.4);
    mix-blend-mode: hard-light;
}

@keyframes backGroundAnimation {
    0% {
        background-position: 50% 0%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 50% 0%;
    }
}
